.box-1,
.box-2,
.box-3,
.box-4 {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.box-1 {
  border: 8px solid bisque;
  /* padding: 20px; */
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.box-2 {
  border: 8px solid blue;
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.box-3 {
  border: 8px solid coral;
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.box-4 {
  border: 8px solid hotpink;
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  margin-bottom: 50px;
}

/* Span hanya bisa di atur paddingnya saja */
span {
  padding: 20px;
  /* width: 700px; */
  /* height: 200px; */
  font-size: 50px;
  border: 5px solid green;
  text-align: justify;
}

/* INLINE-BLOCK */

.box-5,
.box-6,
.box-7,
.box-8 {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.box-5 {
  border: 8px solid bisque;
  background-color: blueviolet;
  /* padding: 20px; */
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.box-6 {
  border: 8px solid blue;
  background-color: black;
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.box-7 {
  border: 8px solid coral;
  background-color: aquamarine;
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.box-8 {
  border: 8px solid hotpink;
  background-color: antiquewhite;
  font-size: 20px;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
