.container {
  width: 80%;
  height: 500px;
  background-color: #a1bc98;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: start; */
  /* flex-wrap: nowrap; */
  /* flex-shrink: 2; */
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-4-1,
.box-4-2,
.box-4-3,
.box-4-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-8-1,
.box-8-2,
.box-8-3,
.box-8-4,
.box-9,
.box-10,
.box-11,
.box-12,
.box-12-1,
.box-12-2,
.box-12-3,
.box-12-4
/* .box-13,
.box-14,
.box-15,
.box-16,
.box-17,
.box-18,
.box-19,
.box-20  */ {
  width: 400px;
  height: 300px;
  /* position: relative; */
  /* margin: 10px; */
  /* border: 5px solid black; */
}
.box-1 {
  background-color: #a1a1a1;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Contoh Penerapan Flex-Shrink */
  flex-shrink: 0;
}

.box-2 {
  background-color: #00b7b5;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-3 {
  background-color: #018790;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Contoh Penerapan Flex-Shrink */
  flex-shrink: 0;
}

.box-4 {
  background-color: #005461;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-4-1 {
  background-color: #a18d6d;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-4-2 {
  background-color: #703b3b;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-4-3 {
  background-color: #f25912;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-4-4 {
  background-color: #e1d0b3;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* bATASS */
.container-2 {
  width: 80%;
  height: 500px;
  margin-top: 50px;
  background-color: wheat;
  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* margin-bottom: 200px; */
}

.box-5 {
  background-color: #f25912;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Flex-shrink: 1 // tidak ada terjadi perubahan apapun */
  flex-shrink: 1;
}

.box-6 {
  background-color: #5c3e94;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-7 {
  background-color: #412b6b;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Flex-shrink: 1 // tidak ada terjadi perubahan apapun */
  flex-shrink: 1;
}

.box-8 {
  background-color: #211832;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-8-1 {
  background-color: #a18d6d;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-8-2 {
  background-color: #703b3b;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-8-3 {
  background-color: #f25912;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-8-4 {
  background-color: #e1d0b3;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* batas */

.container-3 {
  width: 80%;
  height: 500px;
  background-color: #a1bc98;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap-reverse;
  margin-top: 150px; */
}

.box-9 {
  background-color: #703b3b;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Flex-shrink: 2 // akan mengecilkan element yang diberi shrink 2 */
  flex-shrink: 2;
}

.box-10 {
  background-color: #a18d6d;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-11 {
  background-color: #e1d0b3;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Flex-shrink: 2 // akan mengecilkan element yang diberi shrink 2 */
  flex-shrink: 2;
}

.box-12 {
  background-color: #9bb4c0;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-12-1 {
  background-color: #a18d6d;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Flex-shrink: 2 // akan mengecilkan element yang diberi shrink 2 */
  flex-shrink: 2;
}

.box-12-2 {
  background-color: #703b3b;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-12-3 {
  background-color: #f25912;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-12-4 {
  background-color: #e1d0b3;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* batass */

/* .container-4 {
  width: 100%;
  height: 500px;
  background-color: #a1bc98;
  display: flex;
  /* flex-direction: column-reverse; * /
  justify-content: space-around;
} */

/* .box-13 {
  background-color: #f25912;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .box-14 {
  background-color: #5c3e94;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .box-15 {
  background-color: #412b6b;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .box-16 {
  background-color: #211832;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* batass */

/* .container-5 {
  width: 100%;
  height: 400px;
  background-color: #a1bc98;
  display: flex;
  /* flex-direction: column-reverse; * /
  justify-content: space-evenly;
} 
*/

/* .box-17 {
  background-color: #3a2525;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .box-18 {
  background-color: #9e2a3a;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .box-19 {
  background-color: #ff0000;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .box-20 {
  background-color: #000080;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
} 
*/
