.container {
  width: 100%;
  height: 500px;
  background-color: #a1bc98;
  display: flex;
  flex-direction: row;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9,
.box-10,
.box-11,
.box-12,
.box-13,
.box-14,
.box-15,
.box-16 {
  width: 300px;
  height: 300px;
  /* margin: 10px; */
  /* border: 5px solid black; */
}
.box-1 {
  background-color: #a1a1a1;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-2 {
  background-color: #00b7b5;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-3 {
  background-color: #018790;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-4 {
  background-color: #005461;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*  */
.container-2 {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  background-color: wheat;
  display: flex;
  flex-direction: row-reverse;
}

.box-5 {
  background-color: #f25912;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-6 {
  background-color: #5c3e94;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-7 {
  background-color: #412b6b;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-8 {
  background-color: #211832;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* batas */

.container-3 {
  width: 100%;
  height: 900px;
  background-color: #a1bc98;
  display: flex;
  flex-direction: column;
}

.box-9 {
  background-color: #703b3b;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-10 {
  background-color: #a18d6d;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-11 {
  background-color: #e1d0b3;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-12 {
  background-color: #9bb4c0;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* batass */

.container-4 {
  width: 100%;
  height: 900px;
  background-color: #a1bc98;
  display: flex;
  flex-direction: column-reverse;
}

.box-13 {
  background-color: #f25912;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-14 {
  background-color: #5c3e94;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-15 {
  background-color: #412b6b;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box-16 {
  background-color: #211832;
  color: white;
  text-align: center;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
